<?xml version="1.0" encoding="UTF-8"?>
<!-- Add debug="true" to debug configuration -->
<!-- Add  scanPeriod="30 seconds" to refresh configuration -->
<configuration scan="true">
    <property name="logback.common.pattern"
              value="${logback.common.pattern:-%date{ISO8601,UTC} %-5level [%.25thread] [%X{requestId:-null}] %logger{26} - %msg%n%ex}"/>

    <!-- STDOUT logs properties -->
    <property name="logback.stdout.pattern" value="${logback.stdout.pattern:-${logback.common.pattern}}"/>
    <property name="logback.stdout.level" value="${logback.stdout.level:-TRACE}"/>

    <!-- JRE -->
    <logger name="sun.rmi" level="INFO"/>
    <logger name="javax.management" level="INFO"/>

    <!-- HTTP -->
    <logger name="org.http4s" level="WARN"/>
    <logger name="org.http4s.server.middleware.RequestLogger" level="DEBUG"/>
    <logger name="org.http4s.server.middleware.ResponseLogger" level="DEBUG"/>
    <logger name="org.http4s.client.middleware.Logger" level="DEBUG"/>

    <!-- DOCX -->
    <logger name="com.deepoove.poi.resolver" level="WARN"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logback.stdout.level}</level>
        </filter>
        <encoder>
            <pattern>${logback.stdout.pattern}</pattern>
        </encoder>
    </appender>
    <root>
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="TRACE"/>
</configuration>
